.forecast {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 12px;

  &__main {
    height: 170px;
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    transition: 1s all;

    &.hide {
      filter: blur(50px);
    }
  }

  &__hours,
  &__days {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    background: #6d67d0;
    margin-bottom: 16px;
  }
}

.hours {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.hour {
  &__icon {
    position: relative;
    width: 48px;

    margin: 0 auto;
  }
}

.days {
  display: flex;
  justify-content: space-around;
  gap: 16px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &_active {
      .days__link {
        background: #8e87fa;
      }
    }

    .max-min {
      font-size: 16px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .forecast {
    &__main {
      width: 320px;
      height: 450px;
    }
  }

  .days {
    flex-direction: column;
  }
}
